
  <h6>课程基本信息</h6>
  <div collapse="isCollapsed">
      <p class="cover-top">课程名称: {{course.name}}</p>
      <p class="cover-middle">课程编号: {{course.code}}</p>
      <p class="cover-middle">课程类型: {{courseEnum[course.type]}}</p>
      <p class="cover-middle">学生人数: {{course.studentNum}}人</p>
      <p class="cover-middle">创建时间: {{course.createTime|date}}</p>
      <p class="cover-middle">开课时间: {{course.startTime|date}} - {{course.endTime|date}}</p>
      <p>课程简介: </br>{{course.description}}</p>
  </div>
