<h2>{{course.name}}</h2>
<ul class="nav nav-tabs">
  <li ui-sref-active="active"><a ui-sref="">课程首页</a></li>
  <li ui-sref-active="active"><a ui-sref=".subjects">知识点</a></li>
  <li ui-sref-active="active"><a ui-sref=".microcourse">微课程</a></li>
  <li ui-sref-active="active"><a ui-sref=".problems">问题与讨论</a></li>
  <li ui-sref-active="active"><a ui-sref=".assignments">作业管理</a></li>
  <li ui-sref-active="active"><a ui-sref=".exercises">测试管理</a></li>
  <li ui-sref-active="active"><a ui-sref="">成绩册</a></li>
  <li ui-sref-active="active"><a ui-sref="">教学大纲</a></li>
  <li ui-sref-active="active"><a ui-sref=".classes">查看班级</a></li>
  <li ui-sref-active="active"><a ui-sref=".edit">课程设置</a></li>
</ul>
<div ui-view style="margin-top: 20px;"></div>
