<h2>{{course.name}}</h2>
<ul class="nav nav-tabs">
  <li ui-sref-active="active"><a ui-sref="">课程首页</a></li>
  <li ui-sref-active="active"><a ui-sref="">电子教材</a></li>
  <li ui-sref-active="active"><a ui-sref="">微课程</a></li>
  <li ui-sref-active="active"><a ui-sref="">问题与讨论</a></li>
  <li ui-sref-active="active"><a ui-sref="">作业管理</a></li>
  <li ui-sref-active="active"><a ui-sref="">测试管理</a></li>
  <li ui-sref-active="active"><a ui-sref="">成绩册</a></li>
  <li ui-sref-active="active"><a ui-sref="">教学大纲</a></li>
  <li ui-sref-active="active"><a ui-sref="">课程资源</a></li>
  <li ui-sref-active="active"><a ui-sref="">查看班级</a></li>
  <li ui-sref-active="active"><a ui-sref="">课程设置</a></li>
</ul>
<div ui-view></div>
