
  <h6>课程基本信息</h6>
  <div collapse="isCollapsed">
      <p class="cover-top">课程名称: {{course.name}}</p>
      <p class="cover-middle">课程编号: {{course.code}}</p>
      <p class="cover-middle">课程类型: {{courseEnum[course.type]}}</p>
      <p class="cover-middle">学生人数: {{course.studentNum}}人</p>
      <p class="cover-middle">创建时间: {{course.createTime|date}}</p>
      <p class="cover-middle">开课时间: {{course.startTime|date}} - {{course.endTime|date}}</p>
      <p>课程简介: </br>{{course.description}}</p>
  </div>

  <br>

  <div class="col-md-4">
    <p>作业</p>
    <ul>
      <li><a href="">未提交的作业数目</a><span><b1>0</b1></span></li>
      <li><a href="">需要您评判的习题数目</a><span><b2>0</b2></span></li>
    </ul>
    <p1><a href="">新建作业</a></p1>
    <p2><a href="">查看作业</a></p2>
  </div>
  <div class="col-md-4">
    <p>测试</p>
    <ul>
      <li><a href="">未提交的测试数目</a><span><b1>0</b1></span></li>
      <li><a href="">需要您评判的测试数目</a><span><b2>0</b2></span></li>
    </ul>
    <p1><a href="">新建测试</a></p1>
    <p2><a href="">新建考试</a></p2>
    <p3><a href="">查看测试与考试</a></p3>
  </div>
  <div class="col-md-4">
    <p>讨论</p>
    <ul>
      <li><a href="">需要您回答的问题数目</a><span><b1>0</b1></span></li>
      <li><a href="">您发起讨论的评论数目</a><span><b2>0</b2></span></li>
    </ul>
    <p1><a href="" class="hex-btn-sgreen">新建讨论</a></p1>
    <p2><a href="" class="hex-btn-sgreen">问答与讨论</a></p2>
  </div>
