<h3>知识点： {{subject.name}}</h3>

<div class="container">
  <div class="row col-md-8">
    <div class="col-md-6 cover-resource" ng-repeat="resource in subject.$related.resources" ng-if="resource.type == 13">
      <div cover-video="/VPFile{{resource.url}}.mp4"></div>
    </div>
    <div class="col-md-6 cover-swf-resource-new" cover-swf-file-upload="fileUploaded($data)">
    </div>
  </div>
  <div class="col-md-4" style="border-left: solid 1px #ccc;">
    <ul>
      <li ng-repeat="resource in subject.$related.resources">
        <a href="/VPFile{{resource.url}}" target="_blank">{{resource.name}}</a>
      </div>
    </ul>
  </div>
</div>
