<table class="table table-hover" at-table at-paginated 
      at-list="assignments" at-config="tableConfig">
  <thead></thead>
  <tbody>
    <tr>
      <td at-title="编号">
        <a ui-sref="^.assignmentDetails({assign: item.$id})">{{item.code}}</a>
      </td>
      <td  at-title="名称">
        {{item.name}}
      </td>
      <td class="ellipsis wsn" style="max-width: 15em" at-title="简介">
        {{item.description}}
      </td>
      <td  at-title="总分">
        {{item.totalScore}}
      </td>
      <td at-title="开始日期">
        {{item.startTime.substring(0,10)}}
      </td>
      <td at-title="结束日期">
        {{item.endTime.substring(0,10)}}
      </td>
      <td at-title="附件">
        <a ui-sref="^.assignmentFile({assign: item.$id})">查看</a>
      </td>
    </tr>
  </tbody>
</table>
<at-pagination at-list="assignments" at-config="tableConfig" ></at-pagination>