<div>
  <carousel interval="myInterval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
    </slide>
  </carousel>
</div>

<div>
  <div align="center" class="col=md-10">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>name</th>
          <th>num</th>
          <th>endTime</th>
        </tr>        
        <tr ng-repeat="course in courselists">
          <td ><a ui-sref="courseManage.courseIndex({course: course.$id})">{{course.name}}</a></td>
          <td>{{course.studentNum}}</td>
          <td>{{course.endTime | date:"yyyy-MM-dd"}}</td>
        </tr>
    </tbody>
    </table>
  </div>
  <button class="btn btn-success" ng-click="prepage()">上一页</button>
  <button class="btn btn-success" ng-click="nextpage()">下一页</button>
</div>