<div class="container">
  <div class="col-md-11">
    <h3>课程基本信息</h3>
    <table class="table">
      <tr>
        <td class="col-md-4">课程名称: </td>
        <td class="col-md-8">{{course.name}}</td>
      </tr>
      <tr>
        <td class="col-md-4">课程目标: </td>
        <td class="col-md-8">{{courseoutline.courseAim}}</td>
      </tr>
      <tr>
        <td class="col-md-4">课程方针: </td>
        <td class="col-md-8">{{courseoutline.courseFangzhen}}</td>    
      </tr>
      <tr>
        <td class="col-md-4">课程计划: </td>
        <td class="col-md-8">{{courseoutline.courseJihua}}</td>
      </tr>
    </table>
  </div>
</div>