<div class="container">
  <div class="row">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>

  <div class="row">
    <table class="table table-striped" at-table 
           at-paginated at-list="courses" at-config="tableConfig" >
      <thead></thead>
      <tbody>
          <td at-title="课程名字" class="col-md-2">
            <a ui-sref="courseManage.courseIndex({course: item.$id})">{{item.name}}</a>
          </td>
          <td at-title="学生人数" class="col-md-1">
            {{item.studentNum}}
          </td>
          <td at-title="开始时间" class="col-md-2">
            {{item.startTime.substring(0,10)}}
          </td>
          <td at-title="结束时间" class="col-md-2">
            {{item.endTime.substring(0,10)}}
          </td>
          <td at-title="描述" class="col-md-5">
            {{item.description}}
          </td>
      </tbody>
    </table>
    <at-pagination at-list="courses" at-config="config" ></at-pagination>
  </div>
</div>