<form name="userForm" ng-submit="submit(enrollClazz)" novalidate>
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">×</button>
    <h3>请输入密码</h3>
  </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">密码：</label>
      <div class="col-sm-10">
        <input class="form-control" type = "password" ng-model="enrollClazz.password">
      </div>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-wuxia" ng-click="$dismiss()">取消</button>
    <button type="submit" class="btn btn-wuxia btn-primary" ng-disabled="userForm.$invalid">确定</button>
  </div>
</form>
