<table class="table table-striped" at-table 
       at-paginated at-list="subjects" at-config="tableConfig">
  <thead>
  </thead>
  <tbody>
      <td at-title="编号">
        <a ui-sref="^.subjectDetails({subject: item.$id})">{{item.code}}</a>
      </td>
      <td at-title="名称">
        {{item.name}}
      </td>
      <td at-title="描述" class="ellipsis wsn" style="max-width: 20em">
        {{item.description}}
      </td>
    </tr>
  </tbody>
</table>
<at-pagination at-list="subjects" at-config="tableConfig" ></at-pagination>