<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">仪表盘</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        学校信息
      </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-bordered table-hover">
            <tbody>
              <tr class="even gradeC">
                <td>学校名称：</td>
                <td>{{school.name}}</td>
              </tr>
              <tr class="even gradeC">
                <td>学校编号：</td>
                <td>{{school.code}}</td>
              </tr>
              <tr class="even gradeC">
                <td>学校地址：</td>
                <td>{{school.address}}</td>
              </tr>
              <tr class="even gradeC">
                <td>是否是211：</td>
                <td>{{school.is211}}</td>
              </tr>
              <tr class="even gradeC">
                <td>是否是985：</td>
                <td>{{school.is985}}</td>
              </tr>
              <tr class="even gradeC">
                <td>学校金额：</td>
                <td>{{school.money}}</td>
              </tr>
              <tr class="even gradeC">
                <td>学校信用额度：</td>
                <td>{{school.credit}}</td>
              </tr>
              <tr class="even gradeC">
                <td>学校等级：</td>
                <td>{{school.level}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
