<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">仪表盘</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        学校信息
      </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <th>名称</th>
                <th>金额</th>
                <th>等级</th>
                <th>信用额度</th>
              </tr>
              <tr ng-repeat="school in schools">
                <td>{{school.name}}</a></td>
                <td>{{school.money}}</td>
                <td>{{school.level}}</td>
                <td>{{school.credit}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
